io-navigation {
  @include clearfix;
  border-bottom: 1px solid #eee;
  display: block;
  line-height: 30px;
  margin: $vertical_padding $horizontal_padding 35px;
  padding-bottom: 20px;

  //
  //  Site name
  //
  .site-name {
    font-size: 1.45rem;
    font-weight: bold;

    @media (min-width: 768px) {
      float: left;
      width: 15%;
    }
  }


  //
  //  Menu
  //
  .menu {
    @include clearfix;
    font-size: 0.7rem;
    line-height: 1.9;
    margin-top: 24px;
    text-transform: uppercase;

    @media (min-width: 768px) {
      float: right;
      margin-top: 0;
      position: relative;
      top: 4px;
      width: 80%;
    }

    a {
      clear: both;
      color: $text_color;
      display: inline-block;
      float: left;
      position: relative;
      text-decoration: none;

      @media (min-width: 768px) {
        clear: none;
        float: none;
        margin-right: 24px;
      }
    }

    a.is-active {
      color: $japonica;
    }
  }


}
