io-random-quote {
  display: block;
  position: relative;

  @include display(flex);
  @include flex-direction(column);
  @include flex(1);

  .center-content > div {
    max-width: 540px;
  }

  blockquote {
    display: inline-block;
    margin: 0 1.2em;

    @media (min-width: 768px) {
      margin: 0;
    }
  }


  //
  //  Navigation
  //
  .random-quote__nav {
    color: #aaa;
    font-size: 0.65rem;
    margin-top: 13px;

    @media (min-width: 768px) {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
    }
  }

  .random-quote__nav-button {
    cursor: pointer;
    display: inline-block;
    margin-left: 14px;

    &:hover,
    &:focus {
      color: $text_color;
    }
  }


}
