<div class="center-content">
  <div class="random-quote__quote">
    <blockquote>
      <p>
        {{quote}}
        <span class="end-quote-mark"></span>
      </p>
    </blockquote>

    <p>
      By
      <span class="random-quote__quote-author">{{author}}</span>
    </p>
  </div>
</div>


<div class="random-quote__nav">
  <div class="random-quote__nav-count">
    {{status.quotes_seen}} / {{status.total_quotes}}

    <a class="random-quote__nav-button">
      Show another quote
    </a>
  </div>
</div>
