<form>

  <label>JSON url (must support CORS)</label>
  <input type="text" name="url" placeholder="http://..." />
  <input type="submit" value="Save" />

  {{! notes }}
  <br>

  <p>JSON structure:</p>

<pre>
<code>
[
  {
    "quote": "Quote",
    "author": "Author"
  },

  ...
]
</code>
</pre>

  <p>
    You can use this service to serve your json data cross-domain:<br>
    <a href="http://keymaps.herokuapp.com/">http://keymaps.herokuapp.com/</a>
  </p>

  <p>
    Or something like this:
    <a href="https://jsonp.nodejitsu.com/">https://jsonp.nodejitsu.com/</a>
  </p>

</form>
