.center-content
  %div
    %blockquote
      %p
        {{quote}}
        %span.end-quote-mark

    %p
      By {{author}}



.random-quote__nav
  .random-quote__nav-count
    {{status.quotes_seen}} / {{status.total_quotes}}

    %a.random-quote__nav-button
      Show another quote (randomized)
