%form

  %label JSON url (must support CORS)
  %input{ "type" => "text", "name" => "url", "placeholder" => "http://..." }

  %input{ "type" => "submit", "value" => "Save" }

  / notes
  %br

  %p
    JSON structure:

  %pre
    %code
      :preserve
        [
          {
            "quote": "Quote",
            "author": "Author"
          },

          ...
        ]

  %p
    You can use this service to serve your json data cross-domain:
    %br
    %a{ "href" => "http://keymaps.herokuapp.com/" } http://keymaps.herokuapp.com/

  %p
    Or something like this:
    %a{ "href" => "https://jsonp.nodejitsu.com/" } https://jsonp.nodejitsu.com/
