html {
  font-size: 18px;
  line-height: 1.55;
}

body {
  @include default-font;
  background-color: white;
  color: $text_color;
  text-rendering: optimizeLegibility;
}

p a {
  color: $text_color;
}
