// colors
// -> http://www.colourlovers.com/palette/2712226/dont_stop_dreaming
$black: #111;
$red: #E6143B;

$orinoco: #D0D0AE;
$orange_white: #E9E9CD;
$grape: #423A47;
$solid_pink: #7E474C;
$japonica: #CD6D57;

$text_color: $grape;


// space properties
$horizontal_padding: 40px;
$vertical_padding: 32px;
