html {
  font-size: 14px;
  line-height: 1.55;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

body {
  @include default-font;
  background-color: white;
  color: $text_color;
  text-rendering: optimizeLegibility;
}

p a {
  color: $text_color;
}
