<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport" />

  <title>Quotes</title>

  <link rel="stylesheet" href="application.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.blue_grey-red.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" />

</head>
<body>

  <script src="application.js"></script>
  <script>
    var storageKey = "quotesUserData";

    var app = Elm.Main.fullscreen({
      cssmodules: {{{cssmodules}}},
      userData: JSON.parse(localStorage.getItem(storageKey)),
    });

    app.ports.localStorage.subscribe(function(value) {
      localStorage.setItem(storageKey, JSON.stringify(value));
    });
  </script>

</body>
</html>
