<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport" />

  <title>Quotes</title>

  <link rel="stylesheet" href="application.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.blue_grey-red.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" />

  {{! favicons }}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#f7f7f7">

</head>
<body>

  <script src="application.js"></script>
  <script>
    var storageKey = "quotesUserData";

    var app = Elm.Main.fullscreen({
      cssmodules: {{{cssmodules}}},
      userData: processUserData(localStorage.getItem(storageKey)),
    });

    app.ports.localStorage.subscribe(function(value) {
      localStorage.setItem(storageKey, JSON.stringify(value));
    });

    function processUserData(data) {
      var res;

      try {
        res = data ? JSON.parse(data) : {};

        // the elm code expects a record with these keys,
        // otherwise it blows up
        var keysWeNeed = ['collectionSeen', 'collectionUrl'];
        var isValid = (function() {
          var x = keysWeNeed.filter(function(k) {
            if (res[k] != undefined) return true;
            else false;
          });

          return x.length === keysWeNeed.length;
        }());

        res = isValid ? res : null;

      } catch (_) {
        localStorage.removeItem(storageKey);

        res = null;

      }

      return res;
    }
  </script>

</body>
</html>
