@value textColor from "Lib/Colors.pcss";


html {
  font-size: 16px;
}


body {
  align-items: center;
  background: #f7f7f7;
  display: flex;
  font: 1rem/1.7 sans-serif;
  justify-content: center;
}


.bit {
  color: textColor;
  font-size: 1rem;
}
