@value colors: "Lib/Variables.pcss";
@value textColor from colors;


html {
  font-size: 16px;
}


body {
  align-items: center;
  background: #f7f7f7;
  display: flex;
  font: 1rem/1.7 sans-serif;
  justify-content: center;
}


.component {
  color: textColor;
  font-size: 1rem;
}
