@media (min-width: 768px) {
  .l-flex.has-js {
    height: 100%;
    min-height: 500px;

    body {
      height: 100%;

      @include display(flex);
      @include flex-direction(column);
    }

    io-page-container {
      @include display(flex);
      @include flex-direction(column);
      @include flex(1);
    }
  }


}
