@value footer as zindex from "../Lib/Zindex.pcss";


.bit {
  bottom: grid(3);
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: zindex;

  & button {
    color: #aaa;
  }
}

.wrapper {
  height: 0;
  width: 0;
}

.info {
  left: grid(2);
  line-height: 32px;
  bottom: grid(3);
  opacity: .275;
  position: fixed;
}
