@value vars: "../Lib/Variables.pcss";
@value serifFont from vars;


.bit {
  font-family: serifFont;
  line-height: 1.25;
  margin: grid(3);
  min-width: rem(500px);
  width: calc(90vw - 100vh);
}

.quote {
  font-size: 2.5rem;
}

.author {
  font-weight: bold;
  margin-top: grid(2);
}
