@value vars: "../Lib/Variables.pcss";
@value serifFont from vars;


.component {
  font-family: serifFont;
  line-height: 1.25;
  margin: grid(3);
  max-width: rem(500px);
}

.quote {
  font-size: 2.5rem;
}

.author {
  font-weight: bold;
  margin-top: grid(2);
}
