@value medium from "../Css/Breakpoints.pcss";
@value serifFont from "../Css/Fonts.pcss";


.bit {
  font-family: serifFont;
  line-height: 1.25;
  margin: grid(3) grid(3) grid(10);
  text-align: justify;

  @media medium {
    min-width: rem(600px);
    width: calc(90vw - 75vh);
  }
}

.quote {
  font-size: 2rem;

  @media medium {
    font-size: 2.5rem;
  }
}

.author {
  font-weight: bold;
  margin-top: grid(2);
}
