@value large from "../Lib/Breakpoints.pcss";
@value settings as zindex from "../Lib/Zindex.pcss";


.bit:global(.mdl-card) {
  margin: grid(3) grid(3) grid(10);
  position: relative;
  width: auto;
  z-index: zindex;

  @media large {
    min-width: 330px;
    width: 42vw;
  }

  & :global(.mdl-textfield) {
    box-sizing: border-box;
    width: 100%;
  }
}
