blockquote {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.92rem;
  margin: 2.575em 1.1em 0;
  position: relative;

  .end-quote-mark {
    display: inline-block;
    position: absolute;
    right: 0;
  }

  p:first-child:before,
  p .end-quote-mark:after {
    color: #c9c9c9;
    display: inline-block;
    font-size: 2.33rem;
    position: absolute;
    top: -1px;
  }

  p:first-child:before { content: "“"; left: -27px; }
  p .end-quote-mark:after { content: "”"; right: -27px; }

  p:first-child {
    margin-top: 0;
  }

  & + p {
    font-weight: bold;
    margin-left: 1.1em;
    margin-right: 1.1em;
    margin-top: -2px;
    text-align: right;
  }

  & + p:before {
    content: "—";
    display: inline-block;
    margin-right: 7px;
  }


}
