form {

  label {
    display: block;
    margin: 0 0 5px;
  }

  //
  //  Text input
  //
  input[type="text"] {
    background: transparent;
    border: 1px solid rgba($text_color, .25);
    box-sizing: border-box;
    color: $text_color;
    font-size: 1.75rem;
    max-width: 540px;
    padding: 14px 12px 11px;
    width: 100%;

    @include placeholder {
      color: rgba($text_color, .125);
    }
  }

  input[type="text"]:focus {
    border-color: $japonica;
    color: $japonica;
    outline: none;

    @include placeholder {
      color: rgba($japonica, .25);
    }
  }

  //
  //  Buttons
  //
  input[type="submit"] {
    background: $text_color;
    border: none;
    color: white;
    display: block;
    font-size: 0.9rem;
    margin-top: 35px;
    padding: 9px 12px 7px;

    &:focus {
      background-color: $japonica;
      outline: none;
    }
  }


}
